<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: html(
    ~{::title},
    ~{::content},
    ~{},
    ~{}
)}">

<title th:text="|Product Details: ${product.name}|"></title>
<th:block th:fragment="content">
    <h1>Product Details</h1>
    <div class="product-details">
        <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
        <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
        <p><strong>Description:</strong> <span th:text="${product.description}"></span></p>
        <p><strong>Price:</strong> $<span th:text="${product.price}"></span></p>
        <p><strong>Category:</strong> <span th:text="${product.category.name}"></span></p>
    </div>
    <a href="/products" class="back-link">Back to Product List</a>
</th-block>
</html>

