<!DOCTYPE html>
<html lang="en" 
    th:replace="~{base::html(
        ~{::title},
        ~{::content},
        ~{},
        ~{}
    )}">

<title>Contact Us</title>


<th:block th:fragment="content">
        <h1 class="display-1">Contact Us</h1>
        <p class="lead">We value your feedback!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, aspernatur. Harum beatae incidunt
            blanditiis
            laudantium quia eaque soluta! At id, asperiores dignissimos vero quae doloribus veritatis nam illum
            voluptates
            deleniti?</p>
        <form class="form">
            <div>
                <label>Enter your name</label>
                <input type="text" class="form-control" />
            </div>
            <div>
                <label>Enter your email</label>
                <input type="email" class="form-control" />
            </div>
        </form>
</th:block>
    